<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragment/header::setContent(~{this::content}) }"/>
<th:block th:fragment="content"/>
<head>
    <title>MeongMeongCity</title>
   
   <style type="text/css">
   .page_wrap {
	text-align:center;
	font-size:0;
 }
.page_nation {
	display:inline-block;
}
 .page_nation .none {
	display:none;
} 
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}

.page_nation a:hover ,.page_nation a:focus {
background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}
   </style>
</head>
<body>
    <div class="container" style="display: flex;  justify-content: center;">
        <img src="../images/강아지발바닥.png" alt="My Image" width="40" height="40" >&nbsp;&nbsp;&nbsp;
         <p style="margin-top: 10px; font-size: 22px;">예약 내역</p>&nbsp;&nbsp;&nbsp;
         <img src="../images/강아지발바닥.png" alt="My Image" width="40" height="40" >
         </div>
          <hr style="border: solid 0.8px black; width: 725px; margin: 0 auto; "><br><br>
          
         <div class="booking" style="text-align: center;">
        <table class="reser_list" style="margin: 0 auto; width:725px;" >
            <colgroup>
                <col width="15%"/>
                <col width="15%"/>
                <col width="*"/>
                <col width="15%"/>
                <col width="20%"/>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" style="font-size: 12px;">번호</th>
                    <th scope="col" style="font-size: 12px;"></th>
                    <th scope="col" style="font-size: 12px;">예약내역</th>
                    <th scope="col" style="font-size: 12px;">예약일</th>
                    <th scope="col" style="font-size: 12px;">결제금액</th>
                </tr>
            </thead>
            <tbody style="border: 0.5px solid gray; height: 350px; margin: 0 auto; height: 300px;">
             
                <tr th:each="list,listStat: ${list}" >
                    <td th:text="${list.bno}" style="font-size: 15px;"></td>
                    <td ><img id="title" alt="예약내역이미지" src="" th:attrappend="id=${listStat.index}" style="width: 100px; height: 70px;" ></td>
                    <td id="themeName" th:text="${list.themeName}" th:attrappend="id=${listStat.index}" style="font-size: 15px;"></td>
                    <td th:text="${list.bookingDate}" style="font-size: 11px;"></td>
                    <td th:text="${list.price}" style="font-size: 15px;"></td>
                </tr> 
                <tr th:unless="${#lists.size(list)} > 0">
                    <td colspan="5">예약내역이 없습니다.</td>
                </tr>
            </tbody>
        
        </table>
       </div><br>

<!-- 페이징 처리 -->


 <div class="page_wrap">
    <div class="page_nation">
              <a class="arrow prev" th:href="@{/myPage/bookingList(page=${pageMaker.cri.page}-1,perPageNum=${pageMaker.cri.perPageNum})}" ><</a> 
              <th:block th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
              <a th:href="@{/myPage/bookingList(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
              </th:block>
              <a class="arrow next" th:href="@{/myPage/bookingList(page=${pageMaker.cri.page}+1,perPageNum=${pageMaker.cri.perPageNum})}">></a>
             </div>
          </div>  
</body><br>
<th:block th:replace="~{/fragment/footer::setContent(~{this::content}) }"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
/* 이미지관련 */
    window.onload=function(){
	
    var themeNames  = new Array();
    	
    $("[id^='themeName']").each(function() {
       themeNames.push($(this).text()); 
    });
    
    
    $("[id^='title']").each(function(i) {
    	
        if(themeNames[i] == '멍스파') {
           $(this).attr('src','../images/spa1.jpg');

        }else if(themeNames[i] == '증멍사진'){
           $(this).attr('src','../images/id5.jpg');

        }else if(themeNames[i] == "견생사진"){
           $(this).attr('src','../images/concept5.jpg');
           
        }else if(themeNames[i] == '멍수영장'){
           $(this).attr('src','../images/swimdog1.jpg');
           
        }else if(themeNames[i] == '멍멍이와 함께'){
           $(this).attr('src','../images/with dog12.jpg');
        }
    
    });
  }  
    </script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</html>
