<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <title>MeongMeongCity</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/blog/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    
<!-- 폰트설정 header와 footer만 동일 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Sunflower&display=swap" rel="stylesheet">

<style type="text/css">
    *{
     font-family: 'Gowun Dodum', sans-serif;
     font-size: 20px; 
     font-weight: bold;
    }
#wrapper{
  height : auto;
  min-height: 100%;
}
footer{

 	position:relative; 
 	bottom:0;
  	width:100%;
    height:120px; 
    background-color: #ffff9e;
    margin-top: 17px;
    text-align: center;
}
    </style>

  
  <footer class="blog-footer" >
  	<div style="text-align: center; font-size: 15px; padding:15px 0;">
 	  MeongMeongCity | 대표자:김이임조| 사업자번호:123-45-67890 | 직업정보제공사업신고확인증 신고번호:서울관악 제2022-03호<br/>
      서울시 관악구 봉천로 227 보라매샤르망  | Tel:12-345-6789| Fax:98-765-4321| 
      E-mail : Meong@gmail.com | 개인정보보호책임자 : 김이임조(Meong@gmail.com)<br/>
      Copyright © 2022 MeongMeongCity멍멍시티  All Rights Reserved.<br>
    <a href="#" style="font-size: 15px; color: orange;">Back to top</a>
    </div>
</footer>